alembic==1.8.1
asttokens==2.1.0
attrs==22.1.0
autopage==0.5.1
backcall==0.2.0
boto3==1.25.4
botocore==1.28.4
cfgv==3.3.1
cliff==4.0.0
cloudpickle==2.2.0
cmaes==0.9.0
cmd2==2.4.2
colorlog==6.7.0
contourpy==1.0.5
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
distlib==0.3.6
entrypoints==0.4
executing==1.2.0
feature-engine==1.5.1
filelock==3.8.0
fonttools==4.38.0
future==0.18.2
greenlet==2.0.1
hyperopt==0.2.7
identify==2.5.8
importlib-metadata==5.0.0
ipykernel==6.16.2
ipython==8.5.0
jedi==0.18.1
jmespath==1.0.1
joblib==1.2.0
jupyter_client==7.4.4
jupyter_core==4.11.2
kiwisolver==1.4.4
Mako==1.2.3
MarkupSafe==2.1.1
matplotlib==3.5.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
networkx==2.8.8
nodeenv==1.7.0
numpy==1.23.0
optuna==2.10.0
packaging==21.3
pandas==1.5.1
parso==0.8.3
patsy==0.5.3
pbr==5.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.2
pre-commit==2.20.0
prettytable==3.5.0
prompt-toolkit==3.0.31
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyaml==21.10.1
Pygments==2.13.0
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.5
PyYAML==6.0
pyzmq==24.0.1
s3transfer==0.6.0
scikit-learn==1.1.0
scikit-optimize==0.9.0
scipy==1.9.3
seaborn==0.11.0
setuptools-scm==7.0.5
six==1.16.0
skforecast==0.5.1
sklearn==0.0
SQLAlchemy==1.4.43
stack-data==0.6.0
statsmodels==0.13.5
stevedore==4.1.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tornado==6.2
tqdm==4.64.0
traitlets==5.5.0
typing_extensions==4.4.0
urllib3==1.26.12
virtualenv==20.16.6
wcwidth==0.2.5
xgboost==1.6.2
zipp==3.10.0
